<div class="wrapper <%= 'fadeInDown' unless (resource.email.nil? or resource.email != '')%>">
  <div id="formContent">
    <div class="fadeIn first">
        <%= image_tag 'erland.png', id: :icon, alt: 'erland icon' %>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.email_field :email, class: 'fadeIn second form-control', placeholder: :email, autocomplete: "email" %>
      </div>
      <div class="field">
        <br/>
        <%= f.password_field :password, class: 'fadeIn third form-control', placeholder: :password, autocomplete: "current-password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <br/>
          <%= f.check_box :remember_me, class: 'fadeIn third' %>
          <%= f.label :remember_me, class: 'fadeIn third' %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log in", class: 'fadeIn fourth btn btn-primary' %>
        <%#= link_to " Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'fadeIn fourth fa fa-facebook btn btn-primary' %>
      </div>
    <% end %>
    <br/>
    <div id="formFooter">
      <div class="fadeIn fourth">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

